{% extends 'base.html' %} {% block content %}

<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-3"></div>
    <div
      class="col-6 bg-light border rounded-3"
      style="padding-left: 5px; padding-right: 5px"
    >
      <h1 class="display-4"><strong>Aktualizuj Element</strong></h1>
      <hr class="my-4" />
      <p></p>
      <div style="height: 400px; overflow-y: auto">
        <form action="/element/update/{{element.id}}" method="POST">
          <div class="form-group">
            <label for="elementName">Nazwa elementu</label>
            <input
              name="name"
              type="text"
              class="form-control"
              id="elementName"
              placeholder="Podaj nazwę elementu"
              value="{{element.name}}"
            />
          </div>
          <div class="form-group">
            <label for="elementFailureInensity">Intensywność uszkodzeń</label>
            <input
              name="damage_intensity"
              type="text"
              class="form-control"
              id="elementFailureInensity"
              placeholder="Podaj wartość współczynnika intensywności uszkodzeń"
              value="{{element.damage_intensity}}"
            />
          </div>
          <div class="form-group">
            <label for="elementRepairInensity">Intensywność napraw</label>
            <input
              name="repair_intensity"
              type="text"
              class="form-control"
              id="elementRepairInensity"
              placeholder="Podaj wartość współczynnika intensywności napraw"
              value="{{element.repair_intensity}}"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-success">
            Zaktualizuj Element
          </button>
          <a
            class="btn btn-primary btn-md"
            href="{{url_for('home')}}"
            role="button"
            >Wróć</a
          >
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

{% endblock %}
